body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#snippet
  margin-top: 2em
  width: 98%
  padding: 1%
  min-height: 100px
  border-color: #BCECEA
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
